<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Peliculas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Peliculas</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container effect="fade" [modules]="swiperModules" [slidesPerView]="1" [loop]="true">
    @for(movie of movies(); track movie.id) {
      <swiper-slide>
        <ion-img [src]="movie.poster_path | imagen" />
      </swiper-slide>
    }
  </swiper-container>

</ion-content>
